<p>home works!</p>
<form #frm="ngForm" (ngSubmit)="addProduct(frm.value)">
    <div>
    <label for="txtid"></label>
    <input type="text" name="pid" id="txtid" [(ngModel)]="proId">
    </div>
    <div>
        <label for="txtname"></label>
        <input type="text" name="name" id="txtname"  [(ngModel)]="proName">
    </div>
    <div>
        <label for="txtprice"></label>
        <input type="number" name="price" id="txtprice"  [(ngModel)]="proPrice">
    </div>
    <input type="submit" value="Add product">
    <!-- <button>SAVE</button> -->
    <input type="button" value="save" (click)="update(frm.value)">
</form>
     {{ frm.value | json }}
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.product_id }}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_price }}</td>
        <th><input type="button" value="edit" (click)="edit(product)"></th>
        <th><input type="button" value="delete" (click)="delProduct(product._id)"></th>
    </tr>
</table>